{% extends 'base.html.twig' %}

{% block title %}Acteurs{% endblock %}

{% block body %}

<p><a href="#" class="btn btn-primary">Ajouter un acteur</a></p>

{% for actor in actors %}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{actor.name}}</h5>
    <h5 class="card-title">{{actor.surname}}</h5>
    <p><a href="{{ path('movie', { 'id' : actor.id} )}}" class="btn btn-primary">Voir informations</a></p>
    <p><a href="#" class="btn btn-primary">Supprimer acteur</a></p>
  </div>
</div>
{% endfor %}
{% endblock %}
