{% extends 'base.html.twig' %}

{% block title %}Acteur{% endblock %}

{% block body %}

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{actor.name}}</h5>
    <h5 class="card-title">{{actor.surname}}</h5>
  </div>
</div>

{% endblock %}
