{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}

<p><a href="#" class="btn btn-primary">Ajouter une catégorie</a></p>

{% for category in categories %}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{category.name}}</h5>
    <p><a href="#" class="btn btn-primary">Voir informations</a></p>
    <p><a href="#" class="btn btn-primary">Supprimer catégorie</a></p>
  </div>
</div>
{% endfor %}
{% endblock %}
