{% extends 'base.html.twig' %}

{% block title %}Catégorie{% endblock %}

{% block body %}

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{category.name}}</h5>
  </div>
</div>
{% endblock %}
