{% extends 'base.html.twig' %}

{% block title %}My cool Movies{% endblock %}

{% block body %}
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{movie.poster}}" alt="Card image cap">
  <div class="card-body">
    <form>
      <input type="titre" name="">{{movie.titre}}</input>
    <input type="titre" name="">{{movie.année}}</input>
    <input type="titre" name="">{{movie.synopsis}}</input>
    <input type="submit" name="">Modifier</input>
    </form>
  </div>
</div>
{% endblock %}