{% extends 'base.html.twig' %}

{% block title %}My cool Movies{% endblock %}

{% block body %}
	<a href="" class="btn btn-primary">Creer Film</a>
	<a href="#" id="byTitle" class="btn btn-primary" onclick="orderByTitle();">Trier par titre</a>
	<a href="#" id="byCat" class="btn btn-primary">Trier par Catégories</a>
	{% for movie in movies %}
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{movie.poster}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{movie.titre}}</h5>
    <h6 class="card-title">{{movie.année}}</h6>
    <p class="card-text">{{movie.synopsis}}</p>
    <a href="{{ path('movie', { 'id' : movie.id} )}}" class="btn btn-primary">Voir informations</a>
    <a href="#" class="btn btn-primary">Supprimer Film</a>
  </div>
</div>
{% endfor %}
{% endblock %}

{% block javascripts %}
{% endblock %}
